<section class="container text-center">
  <h2 id="add">Add/Update Book</h2>
<form>
  <div class="form-row">
  <div class="media form-group col-md-8">
      <img class="align-self-center mr-3" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/learning_react_native.jpg" alt="Generic placeholder image">
      <div class="media-body">
          <label for="inputEmail4">Title</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Title">
          <label for="inputPassword4">Genre</label>
          <input type="text" class="form-control" id="inputGenre" placeholder="Genre">
        <label for="inputURL">Cover URL</label>
        <input type="url" class="form-control" id="url" placeholder="Cover url">
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="Description">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
      </div>
      </div>
    <button type="submit" class="btn btn-success">Add</button>
    <button type="submit" class="btn btn-warning">Update</button>
  </form>
</section>

<section class="container text-center">
    <h2 id="author">Add Author</h2>
  <form>
    <div class="form-row">
    <div class="media form-group col-md-8">
        <img class="align-self-center mr-3" src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/steve_holden.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <label for="inputEmail4">First Name</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="First Name">
            <label for="inputPassword4">Last Name</label>
            <input type="text" class="form-control" id="inputGenre" placeholder="Last Name">
          <label for="inputURL">Image URL</label>
          <input type="url" class="form-control" id="url" placeholder="Image url">
          </div>
      </div>
      <div class="form-group col-md-4">
          <label for="Description">Biography</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
        </div>
        </div>
      <button type="submit" class="btn btn-success">Add</button>
      <button type="submit" class="btn btn-warning">Update</button>
    </form>
  </section>