<nav class="navbar sticky-top navbar-dark" style="background-color: #f7901e">
  <a class="navbar-brand" href="#">
    <img src="src/g-readsmall.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Galvanize
  </a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" style="color: white" [routerLink]="['/']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white" [routerLink]="['/books']">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: white" [routerLink]="['/authors']">Authors</a>
    </li>
  </ul>
</nav>

<div style="text-align:center">
  <img width="300" alt="G-reads Logo" src="src/g-reads.png">
</div>