<div class="jumbotron">
    <div class="container">
      <div class="row">
        <div *ngFor="let author of authors" class="col-md-4">
          <div class="card mb-4 box-shadow" id="Card">
            <div id="image">
              <img class="card-img-top" src={{author.portraitURL}} alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{author.firstName}} {{author.lastName}}</h5>
              <small class="card-text">{{author.biography}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>